* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: roboto, sans-serif;
}

/* body {
	width: 80vw;
	margin: auto;
} */

.container {
	display: grid;
	grid-template-areas: 'sidebar mainbody';
	grid-template-columns: 1fr 5fr;
}

.sidebar {
	grid-area: sidebar;
	background-color: hsl(201, 79%, 46%);
	color: white;
	/*  */
	display: grid;
	align-content: flex-start;
	gap: 2.5rem;
	padding: 1rem 1rem;
	font-weight: 500;
}

.menu,
.setup {
	display: grid;
	gap: 1rem;
	font-size: 1rem;
}

.logo {
	font-size: 1.5rem;
}

.main-body {
	grid-area: mainbody;
}
.search-area {
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding: 1rem;
	gap: 1rem;
}

.profile-segment {
	display: grid;
	grid-template-columns: 1fr 1fr 3fr;
	text-align: center;
}

.profile-options {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	padding: 1rem;
}
.welcome-profile {
	display: grid;
	grid-template-columns: 0.15fr 1fr;
}

.welcome-message {
	display: grid;
}

.task-options {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.project-area {
	display: grid;
	grid-template-areas:
		'projects announcements'
		'projects trending';
	grid-template-columns: repeat(1, minmax(250px, 2fr)) 1fr;

	grid-template-columns: 3fr 1fr;
	background-color: hsl(201, 60%, 90%);
	gap: 1rem;
	padding: 1rem;
}

.projects {
	grid-area: projects;
}

.project-cards {
	display: grid;
	grid-template-columns: repeat(2, minmax(200px, 1fr));
	gap: 1rem;
}

.card {
	background-color: white;
	padding: 1rem;
	border-radius: 1rem;
	border-left: 3px solid tomato;
}
.card:hover {
	filter: drop-shadow(3px 5px 6px #1f93f1);
	cursor: pointer;
}

.project-name {
	font-weight: 500;
	font-size: 1.2rem;
	padding: 0rem 0rem 0.8rem 0rem;
}

.announcements {
	grid-area: announcements;
}

.trending {
	grid-area: trending;
}

.project-name {
	display: grid;
}

.project-options {
	display: grid;
	grid-auto-flow: column;
	justify-items: flex-end;
	justify-content: end;
	gap: 1rem;
	padding-top: 1rem;
}
h3 {
	font-size: 1rem;
	padding-bottom: 0.8rem;
}

.announcement-container {
	display: grid;
	background-color: white;
	padding: 1rem;
	gap: 1rem;
}

.announcement-item {
	border-bottom: 1px gray solid;
	padding: 0.5rem 0rem 1rem 0rem;
}

.announcement-item > .title {
	font-weight: 500;
}

.trending-segments {
	padding: 1rem;
	background-color: white;
	display: grid;
	gap: 1rem;
}

.trending-item {
	display: grid;
	grid-template-areas:
		'logo name'
		'logo comment';
	justify-items: flex-start;
	justify-content: start;
	column-gap: 1rem;
}

.trending-item > .logo {
	grid-area: logo;
}

.trending-item > .name {
	grid-area: name;
}

.trending-item > .comment {
	grid-area: comment;
}
