* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
}

.container {
  display: grid;
  grid-template-areas: "sidebar mainbody";
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  grid-area: sidebar;
  background-color: hsl(201, 79%, 46%);
  color: white;
  /*  */
  display: grid;
  align-content: flex-start;
  gap: 2.5rem;
  padding: 1rem 1rem;
  font-weight: 500;
}

.menu,
.setup {
  display: grid;
  gap: 1rem;
  font-size: 1rem;
}

.logo {
  font-size: 1.5rem;
  align-content: center;
}

.main-body {
  grid-area: mainbody;
}
.search-area {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1rem 2rem;
  gap: 2rem;
}

.search {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
}

.profile-segment {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  text-align: center;
  justify-items: end;
  align-items: center;
}

.profile-options {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  padding: 1rem 2rem;
}
.welcome-profile {
  display: grid;
  grid-template-columns: 0.15fr 1fr;
}

.welcome-message {
  display: grid;
  align-content: center;
}

.task-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  justify-items: end;
}

.task-options > .tasks {
  border-radius: 2rem;
  background-color: hsl(201, 79%, 46%);
  width: 80%;
  padding: 0.7rem 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.task-options > .tasks:hover {
  background-color: hsl(201, 79%, 50%);
}

.project-area {
  display: grid;
  grid-template-areas: "projects announcement-section";
  grid-template-columns: repeat(1, minmax(250px, 2fr)) 1fr;
  grid-template-columns: 3fr 1fr;
  background-color: hsl(214, 32%, 91%);
  gap: 2rem;
  padding: 1rem 2rem;
}

.projects {
  grid-area: projects;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  border-radius: 0.5rem;
  border-left: 7px solid hsl(42, 87%, 55%);
}
.card:hover {
  filter: drop-shadow(3px 5px 6px hsl(214, 30%, 80%));
  cursor: pointer;
  background-color: hsl(0, 0%, 98%);
}

.project-name {
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0rem 0rem 0.8rem 0rem;
}

.announcement-section {
  grid-area: announcement-section;
  display: grid;
  align-content: start;
  gap: 2rem;
}

.project-name {
  display: grid;
}

.project-options {
  display: grid;
  grid-auto-flow: column;
  justify-items: flex-end;
  justify-content: end;
  gap: 2rem;
  padding-top: 1rem;
}

h3 {
  font-size: 1rem;
  padding-bottom: 0.8rem;
}

.announcement-container {
  display: grid;
  background-color: white;
  padding: 1rem;
  gap: 1rem;
}

.announcement-item {
  border-bottom: 1px gray solid;
}

.announcement-item > .title {
  font-weight: 500;
}

.trending-segments {
  padding: 1rem;
  background-color: white;
  display: grid;
  gap: 1rem;
}

.trending-item {
  display: grid;
  grid-template-areas: "logo name";
  justify-items: flex-start;
  justify-content: start;
  column-gap: 1rem;
}

.trending-item > .logo {
  grid-area: logo;
}

.trending-item > .data {
  grid-area: name;
  display: grid;
  align-content: center;
  gap: 0.2rem;
}

.logo {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.logo > img {
  width: 30px;
  height: 30px;
}
.dashboard-name {
  font-size: 1.2rem;
  font-weight: 600;
}

img {
  width: 30px;
  height: 30px;
}

.menu-item,
.setup-item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-content: center;
  align-items: center;
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.menu-item:hover,
.setup-item:hover {
  background-color: hsl(201, 79%, 50%);
  cursor: pointer;
}

input[type="search"] {
  border-radius: 20px;
  background-color: hsl(214, 32%, 91%);
  border: none;
  height: 50px;
  padding: 10px;
}

input[type="search"]:focus {
  border: none;
  outline: none;
}

.profile-name {
  font-weight: bold;
}

.profile-name.large {
  font-size: 1.5rem;
}

.project-options img {
  width: 20px;
}

.announcement-item {
  padding: 10px 10px;
}

.announcement-item > .title {
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.announcement-container,
.trending-segments {
  border-radius: 0.5rem;
}

.profile-icon.large {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: yellowgreen;
  border-radius: 100%;
  width: 80px;
  height: 80px;
}

.profile-icon.large > img {
  width: 50px;
  height: 50px;
}

.profile-segment .profile-icon {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: yellowgreen;
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

.trending1 .trending-logo {
  background-color: oklch(80% 0.2 90);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: grid;
  align-content: center;
  justify-content: center;
}

.trending1 .data .name {
  font-size: 0.8rem;
  font-weight: bold;
  color: oklch(80% 0.2 90);
}

.trending2 .trending-logo {
  background-color: mediumseagreen;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: grid;
  align-content: center;
  justify-content: center;
}

.trending2 .data .name {
  font-size: 0.8rem;
  font-weight: bold;
  color: mediumseagreen;
}
.trending3 .trending-logo {
  background-color: brown;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: grid;
  align-content: center;
  justify-content: center;
}

.trending3 .data .name {
  font-size: 0.8rem;
  font-weight: bold;
  color: brown;
}

.data > .name {
  text-transform: lowercase;
}

.data > .name::before {
  content: "@";
}

.profile-segment > div {
  cursor: pointer;
}

.announcement-item {
  cursor: pointer;
}

.announcement-item > .title::after {
  content: "priority: high";
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(250, 189, 178);
  border-radius: 1rem;
  display: inline-block;
  margin-left: 0.5rem;
  padding: 0.3rem;
  color: red;
}
